doctype html
html(lang="en")
  head
    title Calculator
    // build:css
    // endbuild

  body
    h1.title A great calculator
    .numbers
      input.num
      span +
      input.num
      span +
      input.num
      button#calculate-result.calculate-button Do the math!
    p#show-result

    // build:js
    // endbuild
